aiohttp==3.14.1
apprise==1.11.0
beautifulsoup4==4.15.0
celery==5.6.3
croniter==6.2.3
defusedxml==0.7.1
Django==5.2.12
django-allauth[socialaccount]==65.18.0
django-celery-beat==2.9.0
django-celery-results==2.6.0
django_debug_toolbar==6.2.0
django-health-check==3.23.3
django-model-utils==5.0.0
django-redis==6.0.0
django-select2==8.4.8
django-simple-history==3.12.0
django-widget-tweaks==1.5.1
gunicorn==25.3.0
icalendar==7.2.0
Pillow==12.3.0
psycopg[binary,pool]==3.3.4
python-decouple==3.8
pyotp==2.10.0
qrcode==8.2
redis[hiredis]==7.4.0
requests==2.34.2
requests-ratelimiter==0.10.0
unidecode==1.4.0
